---
import { Icon } from "astro-icon/components";
import RootLayout from "../layouts/RootLayout.astro";
import SectionHeader from "../components/ui/SectionHeader.astro";
import Partners from "../components/Partners.astro";
import ContactUsBanner from "../components/ContactUsBanner.astro";
import HeaderBanner from "../components/HeaderBanner.astro";
---

<RootLayout
  title="About Us | B-MESON Limited"
  description="B-MESON Limited is a leading recruitment and talent acquisition firm committed to connecting exceptional talent with ambitious organizations."
  keywords="About Recruitment Agency, Best Recruitment Agency, Recruitment Firm, Talent Management, Hiring Managers, Hr Consulting, Employment Agency, Who We Are, Our Mission, Our Vision, Expertise In Recruitment, Recruitment Agency, Executive Search"
>
  <HeaderBanner route="About Us" />
  <section class="container mx-auto px-4 py-12">
    <!-- Introduction Section -->
    <section class="mb-12">
      <SectionHeader text="About Us" title="Who we are" />
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="flex flex-col gap-2">
          <p class="leading-loose text-base text-justify">
            <strong class="text-primary">B-MESON Limited</strong> burst onto the
            scene in 2022 as a real estate development company with big dreams. But
            we quickly realized that our real passion lay in connecting exceptional
            talent with amazing opportunities.
          </p>
          <p class="leading-loose text-base text-justify">
            So, by <strong>February 2023</strong>, we pivoted and dove headfirst
            into the world of recruitment and talent acquisition. It was a bold
            move, but we were confident in our ability to deliver.
          </p>
          <p class="leading-loose text-base text-justify">
            And we did we deliver! Within our first year of full operations, we
            celebrated over <strong>100 successful placements</strong>. That's a
            huge milestone for any startup, especially one navigating the
            dynamic Nigerian recruitment landscape. And let's not forget that
            impressive <strong>95% success rate</strong> - a testament to our commitment
            to quality and client satisfaction.
          </p>
          <p class="leading-loose text-base text-justify">
            As we continue to grow, we're staying true to our core values of
            <strong
              >innovation, quality, integrity, collaboration, and a
              people-centric approach</strong
            >. We're excited to see what the future holds and look forward to
            helping even more businesses thrive.
          </p>
        </div>
        <img
          src="/src/assets/images/bg2.jpg"
          alt="Positive working environment"
        />
      </div>
    </section>

    <!-- Mission, Vision, Values Section -->
    <section class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-12">
      <div
        class="bg-white shadow-lg p-6 rounded-lg grid place-items-center gap-3 border border-blue-300"
      >
        <div class="bg-primary p-4 rounded-full">
          <Icon name={"vision"} size={30} class="text-yellow-500" />
        </div>
        <h4 class="text-xl font-bold font-poppins text-primary">Our Vision</h4>
        <p class="text-center">
          To be the preferred partner for organizations seeking top-tier talent,
          renowned for our exceptional service and commitment to client success.
        </p>
      </div>
      <div
        class="bg-white shadow-lg p-6 rounded-lg grid place-items-center gap-3 border border-blue-300"
      >
        <div class="bg-primary p-4 rounded-full">
          <Icon name={"mission"} size={30} class="text-yellow-500" />
        </div>
        <h4 class="text-xl font-bold font-poppins text-primary">Our Mission</h4>
        <p class="text-center">
          To be the leading recruitment and talent acquisition firm, providing
          innovative and efficient solutions that empower businesses to achieve
          their goals.
        </p>
      </div>
      <div
        class="bg-white shadow-lg p-6 rounded-lg grid place-items-center gap-3 border border-blue-300"
      >
        <div class="bg-primary p-4 rounded-full">
          <Icon name={"value"} size={30} class="text-yellow-500" />
        </div>
        <h4 class="text-xl font-bold font-poppins text-primary">
          Our Core Values
        </h4>
        <ul class="list-disc ml-4">
          <li>Innovation</li>
          <li>Quality</li>
          <li>Integrity</li>
          <li>Collaboration</li>
          <li>People-Centric Approach</li>
          <li>Accountability</li>
        </ul>
      </div>
    </section>

    <!-- Team Section -->
    <section class="mb-12">
      <SectionHeader text="team" title="Meet our team" />
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-md shadow-primary rounded-lg relative">
          <img
            src="/src/assets/images/team/mayowa.png"
            alt="Team Member"
            class="w-full h-[400px] object-cover object-top"
          />
          <div
            class="absolute bottom-4 left-4 right-4 text-base rounded-lg p-4 text-center bg-green-50 font-poppins"
          >
            <h4 class="font-bold text-primary">Adeosun Oluwatimilehin</h4>
            <p class="text-black font-bold">CEO</p>
          </div>
        </div>
        <div class="bg-white shadow-md shadow-primary rounded-lg relative">
          <img
            src="/src/assets/images/team/recruiter.jpg"
            alt="Team Member"
            class="w-full h-[400px] object-cover object-center"
          />
          <div
            class="absolute bottom-4 left-4 right-4 text-base rounded-lg p-4 text-center bg-green-50 font-poppins"
          >
            <h4 class="font-bold text-primary">Ikponmwosa Eboigbe</h4>
            <p class="text-black font-bold">Talent Acquisition Manager</p>
          </div>
        </div>
        <div class="bg-white shadow-md shadow-primary rounded-lg relative">
          <img
            src="/src/assets/images/team/chioma.png"
            alt="Team Member"
            class="w-full h-[400px] object-cover object-center"
          />
          <div
            class="absolute bottom-4 left-4 right-4 text-base rounded-lg p-4 text-center bg-green-50 font-poppins"
          >
            <h4 class="font-bold text-primary">Chioma Oparah</h4>
            <p class="text-black font-bold">Business Development Manager</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Partners Section -->
  <Partners />

  <!-- Call-to-Action Section -->
  <ContactUsBanner />
</RootLayout>
