---
import RootLayout from "../layouts/RootLayout.astro";
---

<!-- <RootLayout
  title="Our Packages | B-MESON Limited"
  description="B-MESON Limited is a leading recruitment and talent acquisition firm committed to connecting exceptional talent with ambitious organizations."
  keywords="Staffing Solutions, Workforce Management, Job Placement Services, Executive Search, Recruitment Services, Permanent Placements, IT recruiting Candidate screening Other Hybrid Specialized skillployees services"
>
  <section
    id="booster-form"
    class="my-4 lg:my-10 w-full max-w-xl mx-auto border rounded-lg p-8 shadow-lg"
  >
    <div class="flex items-center gap-4 mb-4">
      <p>
        <span class="text-2xl text-primary font-bold">1/</span>2
      </p>
      <p class="text-lg font-bold font-poppins text-primary">
        Let's get started! Fill all information
      </p>
    </div>
    <form action="#" method="POST">
      <div class="mb-4">
        <label for="fullName" class="block text-primary font-bold mb-2"
          >Full Name</label
        >
        <input
          type="text"
          id="fullName"
          name="fullName"
          placeholder="Enter your fullname"
          class="shadow appearance-none border border-primary rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label for="companyName" class="block text-primary font-bold mb-2"
          >Company Name</label
        >
        <input
          type="text"
          id="companyName"
          name="companyName"
          placeholder="Enter your company name"
          class="shadow appearance-none border border-primary rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-primary font-bold mb-2"
          >Email Address</label
        >
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          name="email"
          class="shadow appearance-none border border-primary rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label for="phone" class="block text-primary font-bold mb-2"
          >Phone Number</label
        >
        <input
          type="tel"
          id="phone"
          name="phone"
          placeholder="Enter your phone number"
          class="shadow appearance-none border border-primary rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label for="location" class="block text-primary font-bold mb-2"
          >Location</label
        >
        <input
          type="text"
          id="location"
          name="location"
          placeholder="Enter your location"
          class="shadow appearance-none border border-primary rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label for="position" class="block text-primary font-bold mb-2"
          >What Position do you want to fill?</label
        >
        <input
          type="text"
          id="position"
          name="position"
          placeholder="Enter the position you want to fill"
          class="shadow appearance-none border border-primary rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <label for="jobDescription" class="block text-primary font-bold mb-2"
          >Job Description/Requirements</label
        >
        <textarea
          id="jobDescription"
          name="jobDescription"
          placeholder="Enter job description"
          class="shadow appearance-none border border-primary rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          rows="15"
          required></textarea>
      </div>
      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="bg-primary w-full hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >Proceed to payment</button
        >
      </div>
    </form>
  </section>
  <section
    id="payment-details"
    class="my-4 lg:my-10 w-full max-w-xl mx-auto border rounded-lg p-8 shadow-lg hidden"
  >
    <div class="flex items-center gap-4 mb-4">
      <p>
        <span class="text-2xl text-primary font-bold">2/</span>2
      </p>
      <p class="text-lg font-bold font-poppins text-primary">Make payment</p>
    </div>
    <div class="mb-8">
      <h2
        class="text-2xl lg:text-4xl font-bold font-poppins text-center text-primary"
      >
        &#8358;45,000
      </h2>
      <p class="text-gray-400 text-sm text-center">Amount to be paid</p>
    </div>
    <div class="flex flex-col gap-4 lg:gap-8">
      <div class="flex items-center justify-between">
        <h3 class="text-lg font-bold text-primary">Account Number:</h3>
        <p class="text-2xl font-bold">0142623353</p>
      </div>
      <div class="flex items-center justify-between">
        <h3 class="text-lg font-bold text-primary">Account Name:</h3>
        <p class="text-2xl font-bold">Adeosun Abiola Olalekan</p>
      </div>
      <div class="flex items-center justify-between">
        <h3 class="text-lg font-bold text-primary">Bank Name:</h3>
        <p class="text-2xl font-bold">GTBank</p>
      </div>
      <button
        id="paymentButton"
        class="bg-primary w-full hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >I have paid</button
      >
    </div>
    <div id="error-message" class="w-full bg-red-700 text-white p-4 rounded-lg text-center mt-4 hidden">
      An error occurred while submitting the form.
    </div>
  </section>
</RootLayout> -->
<RootLayout
  title="Our Packages | B-MESON Limited"
  description="B-MESON Limited is a leading recruitment and talent acquisition firm committed to connecting exceptional talent with ambitious organizations."
  keywords="Staffing Solutions, Workforce Management, Job Placement Services, Executive Search, Recruitment Services, Permanent Placements, IT recruiting Candidate screening Other Hybrid Specialized skillployees services"
>
  <main
    id="booster-form"
    class="my-4 lg:my-10 w-full max-w-xl mx-auto border rounded-lg p-8 shadow-lg"
    aria-label="Recruitment Form"
  >
    <div class="flex items-center gap-4 mb-4">
      <p>
        <span class="text-2xl text-primary font-bold">1/</span>2
      </p>
      <p class="text-lg font-bold font-poppins text-primary">
        Let's get started! Fill all information
      </p>
    </div>
    <form id="recruitmentForm" method="POST">
      <div class="mb-4">
        <label for="fullName" class="block text-primary font-bold mb-2"
          >Full Name</label
        >
        <input
          type="text"
          id="fullName"
          name="fullName"
          placeholder="Enter your fullname"
          class="input-field"
          required
          aria-required="true"
        />
        <p class="error-message hidden" id="error-fullName">
          Full Name is required.
        </p>
      </div>
      <div class="mb-4">
        <label for="companyName" class="block text-primary font-bold mb-2"
          >Company Name</label
        >
        <input
          type="text"
          id="companyName"
          name="companyName"
          placeholder="Enter your company name"
          class="input-field"
          required
          aria-required="true"
        />
        <p class="error-message hidden" id="error-companyName">
          Company Name is required.
        </p>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-primary font-bold mb-2"
          >Email Address</label
        >
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          class="input-field"
          required
          aria-required="true"
        />
        <p class="error-message hidden" id="error-email">
          Valid Email is required.
        </p>
      </div>
      <div class="mb-4">
        <label for="phone" class="block text-primary font-bold mb-2"
          >Phone Number</label
        >
        <input
          type="tel"
          id="phone"
          name="phone"
          placeholder="Enter your phone number"
          class="input-field"
          required
          aria-required="true"
        />
        <p class="error-message hidden" id="error-phone">
          Phone Number is required.
        </p>
      </div>
      <div class="mb-4">
        <label for="location" class="block text-primary font-bold mb-2"
          >Location</label
        >
        <input
          type="text"
          id="location"
          name="location"
          placeholder="Enter your location"
          class="input-field"
          required
          aria-required="true"
        />
        <p class="error-message hidden" id="error-location">
          Location is required.
        </p>
      </div>
      <div class="mb-4">
        <label for="position" class="block text-primary font-bold mb-2"
          >What Position do you want to fill?</label
        >
        <input
          type="text"
          id="position"
          name="position"
          placeholder="Enter the position you want to fill"
          class="input-field"
          required
          aria-required="true"
        />
        <p class="error-message hidden" id="error-position">
          Position is required.
        </p>
      </div>
      <div class="mb-4">
        <label for="jobDescription" class="block text-primary font-bold mb-2"
          >Job Description/Requirements</label
        >
        <textarea
          id="jobDescription"
          name="jobDescription"
          placeholder="Enter job description"
          class="input-field"
          rows="6"
          required
          aria-required="true"></textarea>
        <p class="error-message hidden" id="error-jobDescription">
          Job Description is required.
        </p>
      </div>
      <div class="flex items-center justify-between">
        <button
          type="submit"
          id="submitForm"
          class="bg-primary w-full hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          aria-label="Proceed to payment"
        >
          Proceed to payment
        </button>
      </div>
    </form>
  </main>
  <main
    id="payment-details"
    class="my-4 lg:my-10 w-full max-w-xl mx-auto border rounded-lg p-8 shadow-lg hidden"
    aria-label="Payment Details"
  >
    <div class="flex items-center gap-4 mb-4">
      <p>
        <span class="text-2xl text-primary font-bold">2/</span>2
      </p>
      <p class="text-lg font-bold font-poppins text-primary">Make payment</p>
    </div>
    <div class="mb-8">
      <h2
        class="text-2xl lg:text-4xl font-bold font-poppins text-center text-primary"
      >
        &#8358;45,000
      </h2>
      <p class="text-gray-400 text-sm text-center">Amount to be paid</p>
    </div>
    <div class="flex flex-col gap-4 lg:gap-8">
      <div class="flex items-center justify-between">
        <h3 class="text-lg font-bold text-primary">Account Number:</h3>
        <p class="text-2xl font-bold">0142623353</p>
      </div>
      <div class="flex items-center justify-between">
        <h3 class="text-lg font-bold text-primary">Account Name:</h3>
        <p class="text-2xl font-bold">Adeosun Abiola Olalekan</p>
      </div>
      <div class="flex items-center justify-between">
        <h3 class="text-lg font-bold text-primary">Bank Name:</h3>
        <p class="text-2xl font-bold">GTBank</p>
      </div>
      <button
        id="paymentButton"
        class="bg-primary w-full hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        aria-label="I have paid"
      >
        I have paid
      </button>
    </div>
    <div
      id="error-message"
      class="w-full bg-red-700 text-white p-4 rounded-lg text-center mt-4 hidden"
    >
      An error occurred while submitting the form.
    </div>
  </main>

  <script>
    import { actions, isInputError } from "astro:actions";
    import { navigate } from "astro:transitions/client";

    const boosterForm = document.getElementById("booster-form");
    const paymentInfo = document.getElementById("payment-details");
    const paymentBtn = document.getElementById("paymentButton");

    async function submitForm(formDataString: string) {
      const url =
        "https://script.google.com/macros/s/AKfycbzX66of_LzOBwqZKGcTan1lrzWZ_OHdnPB-5kslkv6MSX2xPyyNpxR5Rl-8fC9o0soE/exec";

      try {
        const response = await fetch(url, {
          redirect: "follow",
          method: "POST",
          body: formDataString,
          headers: {
            "Content-Type": "text/plain;charset=utf-8",
          },
        });
        return { data: response.ok };
      } catch (error) {
        return { error };
      }
    }

    const form = document.querySelector("form");
    form?.addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(form);
      const { data, error } = await actions.booster(formData);

      const inputs = form.querySelectorAll(".input-field");

      if (isInputError(error)) {
        // Handle input errors
        inputs.forEach((input) => {
          const errorElement = document.getElementById(`error-${input.id}`);
          if (error.fields[input.id]) {
            const message = error.fields[input.id].join(", ");
            errorElement.textContent = message;
            errorElement.classList.remove("hidden");
          } else {
            errorElement.classList.add("hidden");
            input.classList.remove("border-red-500");
          }
        });
      }

      if (!error) {
        boosterForm.classList.add("hidden");
        paymentInfo.classList.remove("hidden");

        paymentBtn.addEventListener("click", async () => {
          data["paid"] = "yes";

          const keyValuePairs = [];
          for (let key in data) {
            keyValuePairs.push(key + "=" + data[key]);
          }

          const formDataString = keyValuePairs.join("&");
          paymentBtn.textContent = "Submitting data, please wait";
          const result = await submitForm(formDataString);
          if (result.data) {
            paymentBtn.textContent = "I have paid";
            navigate("/success");
          }

          if (result.error) {
            paymentBtn.textContent = "I have paid";
            const errorMessageElement =
              document.getElementById("error-message");
            errorMessageElement.classList.remove("hidden");

            setTimeout(() => {
              errorMessageElement.classList.add("hidden");
            }, 3000);
          }
        });
      }
    });
  </script>

  <style>
    .input-field {
      border: 1px solid #ddd;
      padding: 0.5rem;
      width: 100%;
      border-radius: 0.375rem;
      transition: border-color 0.2s ease;
    }

    .input-field:focus {
      outline: none;
      border-color: #4caf50;
      box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.3);
    }

    .error-message {
      color: red;
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }

    .hidden {
      display: none;
    }

    .border-red-500 {
      border-color: red !important;
    }
  </style>
</RootLayout>
