---
import Button from "./ui/Button.astro";
---

<section class="bg-primary py-10 lg:py-20 text-white font-poppins">
  <div class="container mx-auto px-4 lg:px-0">
    <div class="flex flex-col lg:grid lg:grid-cols-[400px_1fr] gap-4 lg:gap-8">
      <div class="flex flex-col gap-8 items-start">
        <h1 class="font-bold text-3xl lg:text-4xl flex flex-col gap-2">
          About <span class="block">B-MESON Limited</span>
        </h1>
        <Button variant="secondary" href="/about">Learn more</Button>
      </div>
      <div class="flex flex-col gap-4 items-start">
        <p class="text-base lg:text-lg leading-8 font-inter">
          <span class="font-bold">B-MESON Limited</span> is a leading recruitment
          and talent acquisition firm committed to connecting exceptional talent
          with ambitious organizations. We specialize in delivering innovative, efficient,
          and reliable recruitment solutions tailored to the unique needs of our
          clients.
        </p>
        <p>
          B-MESON Limited burst onto the scene in 2022 as a real estate
          development company with big dreams. But we quickly realized that our
          real passion lay in connecting exceptional talent with amazing
          opportunities.
        </p>
        <p>
          So, by February 2023, we pivoted and dove headfirst into the world of
          recruitment and talent acquisition. It was a bold move, but we were
          confident in our ability to deliver.
        </p>
      </div>
    </div>
    <img
      src="/src/assets/images/office.jpg"
      alt="Image of a staffs having a meeting"
      class="h-[300px] lg:h-[450px] w-full object-cover object-bottom mt-10 rounded-lg"
    />
  </div>
</section>
