---
interface Props {
  route: string;
}

const { route } = Astro.props;

import { Image } from "astro:assets";
import Office from "../assets/images/office.jpg";
---

<div class="relative h-[300px]">
  <Image
    src={Office}
    alt="Positive working environment"
    class="object-cover object-center h-full"
  />
  <div
    class="absolute bg-black/80 z-10 top-0 left-0 h-full w-full flex flex-col gap-2 justify-center py-8"
  >
    <h2
      class="text-3xl lg:text-4xl font-bold text-white font-poppins container mx-auto px-4"
    >
      {route}
    </h2>
    <p class="container mx-auto px-4 font-inter font-light text-white">
      Home <span class="px-2">></span>
      <span class="text-yellow-500 font-bold">{route}</span>
    </p>
  </div>
</div>
