---
import Button from "./ui/Button.astro";
---

<section
  class="relative bg-[url('/src/assets/images/bg.jpg')] py-20 bg-cover bg-center before:absolute before:inset-0 before:bg-black/80"
>
  <div class="container px-2 md:px-0 mx-auto relative z-10 space-y-8">
    <div>
      <h5
        class="text-secondary text-lg text-center font-poppins font-bold mb-4"
      >
        Welcome to B-MESON Limited
      </h5>
      <h1
        class="w-4/5 mx-auto text-2xl md:text-5xl md:leading-[70px] text-center font-bold text-white mb-4 font-poppins"
      >
        Connecting <span
          class="bg-gradient-to-br from-primary via-white to-primary text-transparent bg-clip-text"
          >Exceptional Talent</span
        > with <span
          class="bg-gradient-to-br from-primary via-white to-primary text-transparent bg-clip-text"
          >Ambitious Organizations</span
        >
      </h1>
      <p class="text-white text-sm md:text-lg w-full md:w-4/5 lg:w-2/4 mx-auto text-center">
        Your trusted partner in building exceptional teams and unlocking career
        potential. We specialize in matching skilled professionals with
        organizations that thrive on excellence.
      </p>
    </div>
    <div
      class="w-4/5 md:w-full mx-auto flex flex-col md:flex-row justify-center gap-8"
    >
      <Button href="/contact" variant="primary">Reach out to us</Button>
    </div>
  </div>
</section>
