---
import WhatWeDoCard from "./WhatWeDoCard.astro";

const services = [
  {
    id: 1,
    title: "Pipeline Maintenance/Pigging",
    description: "We ensure optimal flow in pipelines through cleaning and inspection using advanced pigging technologies to prevent blockages and maintain system integrity."
  },
  {
    id: 2,
    title: "Corrosion Control/Non-Destructive Testing (NDT)",
    description: "We offer services like ultrasonic testing, magnetic particle inspection, and dye penetrant testing to detect material defects and prevent corrosion, ensuring asset longevity and compliance."
  },
  {
    id: 3,
    title: "Topside Maintenance",
    description: "We focus on maintaining the structural and operational integrity of offshore platform topsides, including mechanical, electrical, and surface protection systems."
  },
  {
    id: 4,
    title: "Wellhead Maintenance/Installation",
    description: "We setup and service wellhead to ensure safe and efficient oil and gas extraction processes."
  },
  {
    id: 5,
    title: "Crane Inspection Service",
    description: "We conduct comprehensive inspections and certifications of cranes to ensure safety and compliance with operational standards."
  },
  {
    id: 6,
    title: "Civil Construction",
    description: "We provide infrastructure development, including roads, buildings, and structural facilities, tailored to the needs of industrial and community projects."
  },
  {
    id: 7,
    title: "Electrical Instrumentation",
    description: "We specialize in the installation, calibration, and maintenance of industrial electrical and control systems, ensuring accurate monitoring and process control."
  },
  {
    id: 8,
    title: "Hydro Blasting/Painting Services",
    description: "We deliver high-pressure cleaning and industrial painting services to protect surfaces from corrosion and maintain aesthetic and functional standards."
  },
  {
    id: 9,
    title: "Dredging Services",
    description: "We cover land reclamation, shoreline protection, and channel clearing to support infrastructure and environmental projects."
  },
  {
    id: 10,
    title: "Marine Vessel Services",
    description: "We supply and manage vessels for various marine operations, including crew transport, diving support, and logistics, supporting offshore and onshore activities."
  }
];

---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {
    services.map((service) => (
      <WhatWeDoCard
        title={service.title}
        description={service.description}
      />
    ))
  }
</div>
