---

---

<section class="bg-white pt-10 pb-20">
  <div class="container mx-auto">
    <h2
      class="text-lg lg:text-2xl font-bold text-primary mb-12 text-center font-poppins"
    >
      Trusted by Industry Leaders
    </h2>

    <div class="relative overflow-hidden">
      <!-- Gradient Overlay (Left) -->
      <div
        class="absolute left-0 top-0 h-full w-48 bg-gradient-to-r from-white to-transparent z-10"
      >
      </div>

      <!-- Slider Container -->
      <div
        class="flex whitespace-nowrap animate-scroll hover:cursor-pointer hover:[animation-play-state:paused]"
      >
        <!-- First set of logos -->
        <div class="flex">
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/addax.png"
              alt="Addax Petroleum"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/shell.jpg"
              alt="Shell"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/agip.jpg"
              alt="Agip"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/moni-pulo.webp"
              alt="Moni Pullo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/nnpc.jpg"
              alt="NNPC"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/total.jpg"
              alt="Total Energies"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/nipex.jpg"
              alt="Nipex"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/belemaoil.jpg"
              alt="Belemaoil"
              class="h-full object-contain"
            />
          </div>
        </div>

        <!-- Duplicate set of logos for seamless loop -->
        <div class="flex">
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/addax.png"
              alt="Addax Petroleum"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/shell.jpg"
              alt="Shell"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/agip.jpg"
              alt="Agip"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/moni-pulo.webp"
              alt="Moni Pullo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/nnpc.jpg"
              alt="NNPC"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/total.jpg"
              alt="Total Energies"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/nipex.jpg"
              alt="Nipex"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-12 flex justify-center items-center mx-4">
            <img
              src="/src/assets/images/partners/belemaoil.jpg"
              alt="Belemaoil"
              class="h-full object-contain"
            />
          </div>
        </div>
      </div>

      <!-- Gradient Overlay (Right) -->
      <div
        class="absolute right-0 top-0 h-full w-48 bg-gradient-to-l from-white to-transparent z-10"
      >
      </div>
    </div>
  </div>
</section>
