---
import { Image } from "astro:assets";
import Button from "./ui/Button.astro";
import Puzzle from "../assets/images/puzzle-pieces.jpg";
---

<section class="bg-green-50 py-20 px-4">
  <div class="container mx-auto space-y-8">
    <div class="grid lg:grid-cols-2 gap-8">
      <div class="flex flex-col gap-6 items-start">
        <h2
          class="text-primary font-bold text-3xl lg:text-4xl font-poppins lg:leading-[50px]"
        >
          We Don’t Just Recruit Talent; We Find Top-Tier Professionals
        </h2>
        <p class="text-lg font-inter">
          Discover exceptional talent that drives success. Our expertise lies in
          connecting businesses with individuals who deliver unmatched service
          and value.
        </p>
        <Button href="/contact" variant="primary">Find Top Talent</Button>
      </div>
      <div>
        <Image
          src={Puzzle}
          alt="Solving puzzle pieces"
          class="h-[300px] lg:h-[400px] w-full object-cover object-center rounded-lg"
        />
      </div>
    </div>
  </div>
</section>
