---
import Button from "./ui/Button.astro";
---

<section class="bg-white py-20 px-4">
  <div class="container mx-auto space-y-8">
    <div class="px-4 flex flex-col items-center gap-4">
      <div
        class="bg-orange-100 text-orange-500 font-bold px-4 py-2 text-sm font-poppins rounded-full w-[100px] text-center"
      >
        SERVICES
      </div>
      <h2 class="text-primary font-bold text-xl lg:text-4xl font-poppins">
        Recruitment Packages
      </h2>
      <!-- <p class="w-full lg:w-3/5 mx-auto text-center text-gray-500">
        We are a diversified company that provides Engineering, Procurement and
        Construction (EPC) services, Dredging & Marine Logistics support
        services to the oil and gas industry, manufacturing and other sectors.
      </p> -->
    </div>
    <div class="grid lg grid-cols-3 gap-8"></div>
  </div>
</section>
