---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Bronze from "../assets/images/bronze.jpg";
import Silver from "../assets/images/silver.jpg";
import Gold from "../assets/images/gold.jpg";
---

<section class="bg-white py-20 px-4">
  <div class="container mx-auto space-y-8">
    <div class="px-4 flex flex-col items-center gap-4">
      <div
        class="bg-green-100 text-primary font-bold px-4 py-2 text-sm font-poppins rounded-full w-[100px] text-center"
      >
        SERVICES
      </div>
      <h2 class="text-primary font-bold text-xl lg:text-4xl font-poppins">
        Recruitment Packages
      </h2>
      <p class="w-full lg:w-3/5 mx-auto text-center text-gray-500">
        Choose a package that fits your recruitment needs
      </p>
    </div>
    <div class="grid lg:grid-cols-3 gap-8">
      <div
        class="group relative flex shadow-lg flex-col font-poppins items-center px-4 gap-6 border-2 border-primary hover:scale-105 hover:cursor-pointer hover:bg-primary rounded-lg py-4"
      >
        <div class="flex flex-col items-center gap-2">
          <Image
            src={Bronze}
            alt="bronze package"
            class="w-14 h-14 rounded-full"
          />
          <h1
            class="font-bold text-2xl text-primary text-center group-hover:text-white"
          >
            Support Plan
          </h1>
        </div>
        <h3
          class="font-bold text-3xl font-inter text-primary group-hover:text-white"
        >
          &#8358;250,000 <span
            class="text-sm font-bold text-primary group-hover:text-white"
            >/ month</span
          >
        </h3>
        <p class="w-full text-center text-gray-600 group-hover:text-white">
          3 months minimum commitment
        </p>
        <a
          href="/checkout?plan=support-plan"
          class="p-4 flex item-center justify-center bg-primary font-bold rounded-lg text-white w-full group-hover:bg-white group-hover:text-primary"
          >Get Started</a
        >
        <hr class="border-primary group-hover:border-white w-full" />
        <div
          class="w-full ml-4 flex flex-col gap-2 text-black text-sm group-hover:text-white"
        >
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Up to 2 active roles at a time</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Sourcing and Screening</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Shortlisting and Coordination</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Basic Market Intelligence</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Basic Hiring Advisory</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Weekly Reporting</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Best 20-50 employees</p>
          </div>
        </div>
      </div>
      <!-- Growth Plan -->
      <div
        class="group shadow-lg flex flex-col font-poppins items-center px-4 gap-6 border-2 border-primary bg-primary scale-105 hover:cursor-pointer hover:bg-white rounded-lg py-4"
      >
        <div class="flex flex-col items-center gap-2">
          <Image
            src={Silver}
            alt="silver package"
            class="w-14 h-14 rounded-full"
          />
          <h1
            class="font-bold text-2xl text-center text-white group-hover:text-primary"
          >
            Growth Plan
          </h1>
        </div>

        <h3
          class="font-bold text-3xl font-inter text-white group-hover:text-primary"
        >
          &#8358;500,000 <span
            class="text-sm font-bold text-white group-hover:text-primary"
            >/ month</span
          >
        </h3>
        <p class="w-full text-center text-white group-hover:text-primary">
          3-6 months minimum commitment
        </p>
        <a
          href="/checkout?plan=growth-plan"
          class="p-4 flex item-center justify-center bg-white font-bold rounded-lg text-primary w-full group-hover:bg-primary group-hover:text-white"
          >Get Started</a
        >
        <hr class="border-white group-hover:border-primary w-full" />
        <div
          class="w-full ml-4 flex flex-col gap-2 text-white text-sm group-hover:text-black"
        >
          <p>Everything in <span class="font-bold">Support Plan plus:</span></p>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-white group-hover:text-primary"
            /><p>Up to 4 active roles at a time</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-white group-hover:text-primary"
            /><p>Continuous Talent Pool Building</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-white group-hover:text-primary"
            /><p>Deeper Market Intelligence</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-white group-hover:text-primary"
            /><p>Employer Readiness Assessment</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-white group-hover:text-primary"
            /><p>Offer and Onboarding Advisory</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-white group-hover:text-primary"
            /><p>Strategic Check-Ins</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-white group-hover:text-primary"
            /><p>Enhanced Reporting</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-white group-hover:text-primary"
            /><p>Best 50-150 employees</p>
          </div>
        </div>
      </div>
      <!-- Embedded Partner Plan -->
      <div
        class="group shadow-lg flex flex-col font-poppins items-center px-4 gap-6 border-2 border-primary hover:scale-105 hover:cursor-pointer hover:bg-primary rounded-lg py-4"
      >
        <div class="flex flex-col items-center gap-2">
          <Image src={Gold} alt="gold package" class="w-14 h-14 rounded-full" />
          <h1 class="font-bold text-2xl text-primary group-hover:text-white">
            Embedded Partner
          </h1>
        </div>
        <h3
          class="font-bold text-3xl font-inter text-primary group-hover:text-white"
        >
          &#8358;1,000,000 <span
            class="text-sm font-bold text-primary group-hover:text-white"
            >/ month</span
          >
        </h3>
        <p class="w-full text-center text-gray-600 group-hover:text-white">
          6 months minimum commitment
        </p>
        <a
          href="/checkout?plan=embedded-partner"
          class="p-4 flex item-center justify-center bg-primary font-bold rounded-lg text-white w-full group-hover:bg-white group-hover:text-primary"
          >Get Started</a
        >
        <hr class="border-primary group-hover:border-white w-full" />
        <div
          class="w-full ml-4 flex flex-col gap-2 text-black text-sm group-hover:text-white"
        >
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Everything in <span class="font-bold">Growth plan, plus:</span></p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Unlimited active roles</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Dedicated Recruiter / Account Manager</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Hiring Strategy and Workforce Planning</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>SLA-Based Delivery</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Internal Process Optimization</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Priority Access to Vetter Talent Pools</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Monthly Performance Reports</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Optional Add-Ons</p>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              name="mdi:checkbox-outline"
              size={16}
              class="text-primary group-hover:text-white"
            /><p>Best 100-300 employees</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
