---
import { Icon } from "astro-icon/components";
import { twMerge } from "tailwind-merge";

const {
  variant = "primary",
  text = Astro.slots.render("default"),
  icon = "",
  ...rest
} = Astro.props;

const variants = {
  primary: "bg-gradient-to-br from-primary to-secondary hover:from-secondary hover:to-primary text-white",
  // primary: "bg-green-800 hover:border-secondary hover:bg-transparent hover:border-2 hover:cursor-pointer text-white hover:text-secondary",
  secondary:
    "bg-secondary text-white hover:bg-white hover:cursor-pointer hover:text-orange-500 hover:font-bold",
  border:
    "border border-primary hover:border-primary hover:cursor-pointer text-secondary hover:text-white",
};
---

<a
  class={twMerge(
    variants[variant] || "",
    "px-8 py-3 font-semibold text-base rounded-full font-inter grid place-items-center"
  )}
  {...rest}
>
  <Fragment set:html={text} />
</a>
